[build]
  command = "npm run build"
  publish = "_site/"

# Production context: all deploys from the Production branch set in your site's
# deploy contexts will inherit these settings.
[context.production]
  command = "npm run build"
  [context.production.environment]
    JEKYLL_ENV = "production"
    TZ = "Europe/London"

# Specific branch context: all deploys from this specific branch will inherit
# these settings.
[context.staging] # 'staging' is a branch name
  command = "npm run staging"
  [context.staging.environment]
    JEKYLL_ENV = "staging"
    TZ = "Europe/London"

[context.ga]
  environment = { JEKYLL_ENV = "ga" }

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy-Report-Only = "default-src darylshaw.co.uk;"