<h2>Consultation</h2>
<p>Schedule a call with me where I can answer your questions and provide guidance. Get a fresh pair of eyes on the issue you are facing. Feedback on the direction you are taking.</p>
<p>Topic ideas:</p>
<ul>
    <li>Debug a Google Analytics tracking issue</li>
    <li>Review and provide feedback on a migration plan</li>
    <li>Offer help and guidance on replatforming</li>
    <li>Investigate a Search Console issue</li>
</ul>
<a href="https://calendly.com/darylshaw/consultation" class="btn">Schedule a consultation for £250</a>