<p>I've switched from using Google Analytics to <a href="https://usefathom.com/ref/SI9RS1">Fathom</a> for tracking on this site. But I do have a Google Analytics property set up for testing purposes. This means I can educate others on new features. Click the button below to opt in to using Google Analytics on this site.</p>
<a href="#" class="btn" id="btn-opt-in">Opt in to Google Analytics tracking</a>
<p class="terms">By clicking the button above you are consenting to Google Analytics tracking. You can opt out at any time from this page.</p>
