<section class="home-intro layout">
  <img src="/assets/uploads/Headlock 36.jpg" alt="A photo of me at the Headlock launch party">
  <div class="home-intro-block">
    <h1 class="home-intro-block-header">Hi, I'm Daryl.</h1>
    <div class="home-intro-block-content"><p>I help businesses manage their online presence with a particular focus on ecommerce. Looking for support with strategy or building and maintaining your website? <a href="/contact/">We should chat</a>.</p>
    </div>
  </div>
</section>
