<section class="home-work layout">
  <div class="home-work-block">
    <h2>What I can offer.</h2>
    <p>Here are some of the areas where I can help:
      <ul>
        <li>Paid media management</li>
        <li>SEO</li>
        <li>Audits (technical SEO, content, paid media, Google Analytics, performance. The lot.)</li>
        <li>Analytics & tag management</li>
        <li>Ongoing consultancy</li>
        <li>Migrations and replatforming</li>
        <li>Web development (WordPress, JAMStack)</li>
        <li>Website support & maintenance</li>
      </ul>
    </p>
  </div>
</section>
