<meta property="og:site_name" content="{{site.title | escape}}">
<meta property="og:title" content="{{title | escape}}">
<meta property="og:url" content="{{permalink | escape}}">
<meta property="og:description" content="{{excerpt | fallback:site.description | strip_html | escape}}">
{% if current.assets.size > 0 or current.image %}
	{% assign og_image = current.image | fallback: current.assets.first.permalink %}
  <meta property="og:image" content="{{og_image | escape}}">
{% endif %}
{% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{site.fb_app_id}}">
{% endif %}
