<div class="newsletter">
  <h3>Newsletter</h3>
  <p>A monthly newsletter that looks at how it isn’t business as usual. Launching soon.</p>
  <form id="newsletter" action="https://tinyletter.com/darylshaw" method="post" target="_blank">
    <p>
      <label for="tlemail" style="display: none;">Enter your email address</label>
      <input type="text" name="email" id="tlemail" placeholder="Email address" />
    </p>
    <input type="hidden" value="1" name="embed"/>
    <div class="button">
      <button type="submit">Subscribe</button>
    </div>
  </form>
</div>
