{%- assign post = include.post -%}
{%- assign is_excerpt = include.is_excerpt -%}

<article class="h-entry note">
  {{ post.content | markdownify }}
  {%- if is_excerpt -%}
  <span class="post-meta">Posted at <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}">
    <a href="{{ post.url }}">{{ post.date | date: "%R" }}</a>
  </time></span>
  {% else %}
  <span class="post-meta">Posted at <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}">
    {{ post.date | date: "%R" }} on {{ post.date | date_to_long_string: "ordinal" }}
  </time></span>
  {% endif %}
</article>
