{%- assign post = include.post -%}
{%- assign is_excerpt = include.is_excerpt -%}

{%- if is_excerpt -%}
<div class="h-entry archive-item">
  {%- include post-meta.html -%}
  {{ post.content | markdownify }}
  {%- for photo in post.photo -%}
  <img src="{{ photo.url }}" alt="{{ photo.alt }}" class="u-image" width="250" height="250" loading="lazy" />
  {%- endfor -%}
</div>
{%- else -%}
<article class="h-entry">
  {%- include post-meta.html -%}
  {{ post.content | markdownify }}
  {%- for photo in post.photo -%}
  <img src="{{ photo.url }}" alt="{{ photo.alt }}" class="u-image" loading="lazy" />
  {%- endfor -%}
</article>
{%- endif -%}
