{%- assign post = include.post -%}
{%- assign is_excerpt = include.is_excerpt -%}

{%- if is_excerpt -%}
<div class="photo">
  <div class="photo-box">
    <div class="photo-front">
      {%- for photo in post.photo -%}
      <img src="{{ photo.url }}" alt="{{ photo.alt }}" loading="lazy" />
      {%- endfor -%}
    </div>
    <div class="photo-back">
      {{ post.content | markdownify }}
      {%- include post-meta.html -%}
    </div>
  </div>
</div>
{%- else -%}
<article class="h-entry photo">
  {%- for photo in post.photo -%}
  <img src="{{ photo.url }}" alt="{{ photo.alt }}" class="u-image" loading="lazy" />
  {%- endfor -%}
  {{ post.content | markdownify }}
  {%- include post-meta.html -%}
  {%- endif -%}
</article>
