{%- assign photo = include.post -%}
{%- assign is_excerpt = include.is_excerpt -%}

<article class="h-entry note">
  {{ photo.content | markdownify }}
  {%- if is_excerpt -%}
  <span class="post-meta">Posted at <time class="dt-published" datetime="{{ photo.date | date: "%Y-%m-%d %H:%M" }}">
    <a href="{{ photo.url }}">{{ photo.date | date: "%R" }}</a>
  </time></span>
  {% else %}
  <span class="post-meta">Posted at <time class="dt-published" datetime="{{ photo.date | date: "%Y-%m-%d %H:%M" }}">
    {{ photo.date | date: "%R" }} on {{ photo.date | date_to_long_string: "ordinal" }}
  </time></span>
  {% endif %}
</article>
