{%- assign post = include.post -%}
{%- assign is_excerpt = include.is_excerpt -%}
<article class="h-entry post">
  <header>
    {% unless page.layout == "stream" %}
    <span class="post-meta">
    <time>{{ post.date | date_to_long_string: "ordinal" }}</time>
    {% endunless %}
    </span>
    {% if is_excerpt %}
    {% if post.title != empty %}
    <h3>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>
    {% endif %}
    {% else %}
    <h1>{{ post.title }}</h1>
    {% endif %}
    {%- if is_excerpt -%}
    {{ post.excerpt | markdownify }}
    <a href="{{ post.url }}">Read article</a>
    {%- endif -%}
  </header>
  {% unless is_excerpt %}
  {{ post.content | markdownify }}
  {% endunless %}
</article>
