{%- assign post = include.post -%}
{%- assign is_excerpt = include.is_excerpt -%}

{%- if is_excerpt -%}
<div class="h-entry archive-item">
  <span class="post-meta">
    <time>{{ post.date | date: "%-d %b %Y" }}</time>
  </span>
  <h2>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>
  {{ post.excerpt | markdownify }}
</div>
{%- else -%}
<article class="h-entry">
  <header>
    <span class="post-meta">
      <time>{{ post.date | date: "%-d %b %Y" }}</time>
    </span>
    <h1>{{ post.title }}</h1>
  </header>
  {{ post.content | markdownify }}
</article>
{%- endif -%}
