{%- assign post = include.post -%}
{%- assign is_excerpt = include.is_excerpt -%}


{%- if is_excerpt -%}
{%- if post.title != empty -%}
<div class="post">
  <h3>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h3>
  {{ post.excerpt | markdownify }}
  <a href="{{ post.url }}">Read article</a>
  {%- include post-meta.html -%}
</div>
{%- endif -%}
{%- else -%}
<article class="h-entry post">
  <h1>{{ post.title }}</h1>
  {%- endif -%}
  {%- unless is_excerpt -%}
  {{ post.content | markdownify }}
  {%- endunless -%}
</article>
