<ul>
  <li class="archive-year">
    <h2 class="archive-year-header"><span class="bb">2016</span></h2>
  </li>
  {% for post in site.posts %}
  <ol>
    <li class="archive-month">
      <h3 class="archive-month-header"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B" }}</time></h3>
      <ul class="archive-posts">
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      </ul>
    </li>
  </ol>
  {% endfor %}
</ul>
