body {
  background: $bg-color;
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 2px solid $yellow;

  &:hover {
    color: $text-color--darker;
    border-color: inherit;
    transition: 0.2s ease-in;
  }
}

img {
  max-width: 100%;
}
