footer {
  // position: sticky;
  bottom: 0;
  margin-top: 2rem;
  background: $purple;
  color: $white;

  .newsletter {
    grid-column: full-content;
    margin-bottom: 2.75rem;
    @include bp(small) {
      grid-column: main-content;
    }

    form {
      display: inline-flex;
    }

    p {
      margin: inherit;
    }

    .button {
      margin-left: 0.5em;
    }

    .button {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        border: 2px solid $white;
        width: 100%;
        height: 100%;
        top: 3px;
        left: 3px;
      }
    }

    button {
      background-color: $purple;
      color: $white;
      cursor: pointer;
      padding: 1em 1.5em;
      font-size: 0.8em;
      border: 2px solid;
      font-weight: 700;
      width: inherit;
      height: 100%;
      position: relative;

      &:hover {
        transform: translate(3px, 3px);
        color: $white;
      }
    }
  }

  .copyright {
    position: inherit;
    grid-column: full-content;
    font-size: 0.75em;
    color: $white;
    @include bp(medium) {
      position: fixed;
      bottom: 0.5em;
      padding-left: 2rem;
      color: $text-color;

      &.invert {
        color: $white;
      }
    }
  }
}

.social {
  padding: 0;
  display: flex;

  li {
    list-style: none;
    margin-right: 0.5em;
  }

  a {
    color: $white;
    border-bottom: inherit;
    @include bp(small) {
      color: $text-color;
    }
    &.invert {
      color: $white;
      }
    }
}
