header {
  display: grid;
  grid-template-columns: $primary-grid;

  h1 {
    font-size: 1rem;
    padding-top: 2rem;
    margin-bottom: 0;
    grid-column: full-content-start / span 2;
  }

  a {
    text-decoration: none;
  }

  nav {
    padding-top: 2rem;
    grid-column: main-content-start / main-content-end;
    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 0.5em;
      }
    }
  }
}
