
  .mast {
    h1 {
      font-size: 1rem;
      padding-top: 2rem;
      margin-bottom: 0;
      grid-column: full-content;
      @include bp(small) {
        grid-column: full-content-start / span 2;
      }
    }

    a {
      text-decoration: none;
      color: $text-color;
    }

    nav {
      grid-column: full-content;
      margin-top: 0.5em;
      @include bp(small) {
        padding-top: 2rem;
        grid-column: main-content-start / main-content-end;
        margin-top: 0;
      }

      ul {
        list-style: none;
        margin-top: 0;
        padding: 0;

        li {
          display: inline-block;
          margin-right: 0.5em;
        }
      }
    }
  }
