*,
:before,
:after {
  box-sizing: border-box;
}

main {
  padding-top: 2rem;
  min-height: 100vh;
  background: linear-gradient($light-grey, $white);
  position: relative;
  z-index: 1;
}

time, iframe {
  display: block;
  font-size: 0.9em;
}

form {
  padding-bottom: 1.25em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
  box-shadow: 3px 3px $dark-grey;
  border: 0;
  height: 100%;
}

textarea {
  height: 10em;
}

.button {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border: 2px solid $text-color;
    width: 100%;
    height: 100%;
    top: 3px;
    left: 3px;
  }
}

button {
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: 0.8em;
  border: 2px solid;
  font-weight: 700;
  width: inherit;
  height: 100%;
  position: relative;

  &:hover {
    transform: translate(3px, 3px);
    color: $link-color;
  }
}

.title {
  grid-column: full-content;
}

.blog-intro {
  grid-column: full-content;
}

article {
  grid-column: full-content;
  padding-bottom: 1.25em;
  margin-bottom: 1.5em;
  @include bp(small) {
    grid-column: full-content / main-content-end;
  }

  header {
    h1 {
      font-size: 1.802em;
    }
  }
}

.post-nav {
  grid-column: full-content;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $text-color;
  padding-top: 1em;
  @include bp(small) {
    grid-column: full-content / main-content-end;
  }

  .next {
    text-align: right;
  }

  a {
    color: $text-color;
    text-decoration-thickness: 2px;
  }
}
