
/************ Basic *************/

:root {
  --text: #000411;
  --bg: #E1EFE6;
  --link: #160C28;

  .theme-dark {
    --text: #E1EFE6;
    --bg: #000411;
    --link: #AEB7B3;
  }

  .theme-purple {
    --text: #E1EFE6;
    --bg: #160C28;
    --link: #EFCB68;
    --btn: #EFCB68;
    --btn-text: #160C28;

  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: $content;
  color: var(--text);
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  text-size-adjust: 100%;
  background: var(--bg);
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 7em;
}

@media only screen and (min-width: 50em) {
  body {
    padding-bottom: 4em;
  }
}

h1,h2,h3,h4,h5 {
  font-family: $heading;
  font-weight: 700;
  line-height: 1.1em;
  text-transform: uppercase;
}

h2 {
  margin-top: 3em;
}

p {
  margin-bottom: $lh;
}

a, a:visited, a:active {
  color: var(--link);

  &:hover {
    opacity: .6;
  }
}

.btn {
  text-decoration: none;
  background-color: var(--btn);
  color: var(--btn-text) !important;
  font-size: 0.8em;
  padding: 1em;

  &:hover {
    opacity: .6;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: $fs5;
}

.hilite {
  display: inline-block;
  padding: 0 0.3em;
  @include br(4px);
  background: $hilite;
}

blockquote, blockquote p {
  font-style: italic;
  line-height: 1.3em;
  text-align: center;
  color: lighten($black, .2);
  margin-bottom: $lh;
}

/*   Code Formatting    */

code {
  color: $accent;
  font-family: "Monaco", "Courier New", "Courier";
  font-size: .75em;
  font-weight: bold;
}

pre {
  background: $black;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: $lh;
  overflow-x: scroll;

  code {
    color: $white;
    font-family: "Monaco", "Courier New", "Courier";
    font-size: .9em;
    line-height: 2em;
    .lineno {
      margin-right: $lh/2;
      color: $grey-light;
      line-height: 2em;
    }
    .nt {
        color: #c85b5c;
    }
    .na {
        color: #f0e687;
    }
    .s {
        color: #87ceeb;
    }
  }
}

hr {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background: $grey-light;
  border: none;
  margin-bottom: $lh;
  border-radius: 2px;
}

input {
  background: none;
  border: none;
  outline: none;
}

.archive input {
  background: none;
  outline: none;
  width: 100%;
  font-family: $content;
  &:focus {
      background: white;
      color: $black;
  }
}

/************ Layout *************/

/* Header */

.site-header-main {
  padding: 1.5em 2em;

  hgroup {
    margin: 0 0 1em;

    h1 {
      font-size: 1.2em;
      font-weight: 700;
      text-transform: uppercase;

      a {
        color: var(--text);
        text-decoration: none;
      }
    }
  }

  nav ul li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.1em;
    font-family: $heading;
    text-transform: uppercase;
    font-weight: 700;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: var(--text);
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: $breakpoint-0-min-width) {
  .site-header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    hgroup {
      margin: 0;
    }

    nav {
      display: flex;
    }
  }
}

@media only screen and (min-width: 50em) {
  .site-header-main {
    padding: 3em 6em
  }
}

/* Content Stuff */

.page {
  padding-bottom: 6em;
}

.page-content {
  margin: 2em;
}

.title {
  margin: 1em 0;
}

.content-main {
  max-width: 37.5em;
}

#contact {
  margin: 0.5em 0;
}

.latest-posts li {
  margin: 1em 0;
}

@media only screen and (min-width: 50em) {
  .page-content {
    margin: 6em
  }
}

// Archive Page

.archive-year {
  list-style: none;
  border-top: 1px solid var(--text);
}

.archive-year-header {
  border-bottom: 1px solid var(--text);
  margin-top: 2em;
  padding-bottom: 2em;
}

.archive-posts {
  margin-bottom: 1.5em;
  list-style: none;

  li {
    line-height: 1.5em;
    border-bottom: 1px solid var(--text);

    &:last-child {
      border-bottom: none;
    }

    a {
      text-decoration: none;

      h2 {
        margin-top: 1em;

        &:hover {
          opacity: .6;
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}

.archive-posts-header {
  border-bottom: 1px solid var(--text);
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5em;

  h2 {
    margin-top: 0;
  }

}

@media only screen and (min-width: $breakpoint-0-min-width) {
  .archive-year {
    display: flex;
  }

  .archive-year-header {
    width: 30%;
    border-bottom: none;
    margin-top: 1em;
    padding-bottom: 1em;
  }

  .archive-year {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

// Post Formatting

.post-date {
  font-style: italic;
}

article {
  header {
    h2 {
      line-height: 1.1em;

      a, a:visited, a:active {
        color: var(--link);
        text-decoration: none;
      }
    }

    p {
      margin-bottom: 0;
    }

    .post-meta {
      margin-bottom: 1.25em;
      line-height: 1.75em;

      .post-tag {
        display: inline-block;
        border-bottom: none;

        a {
          text-decoration: none;
          text-transform: uppercase;
          background: var(--link);
          color: var(--bg);
          padding: 0.3em 0.6em;
          font-size: .8125em;

          &:before {
            content: "#";
          }
        }
      }
    }
  }
}

ol {
  display: block;
  margin-bottom: $lh;

  lh h1, lh h2, lh h3, lh h4, lh h5 {
    @include underline(2px, solid, $grey-light);
  }

  li {
    margin-bottom: $lh/3;
    line-height: $lh;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.post {
  min-height: 500px;

  .deets {
    position: relative;
    top: 45px;
    z-index: 5;

    .date {
      font-size: $fs5;
      position: relative;
      top: 10px;
      left: 6px;
      color: $grey-medium;
      margin-bottom: $lh/2;
    }
  }

  h1, h2, h3, h4, h5 {
    padding-top: ($lh * 1/2);
    margin-bottom: ($lh * 1/2);
    line-height: 1.25em
  }

  figure {
    margin: $lh 0;

    img {
      margin-bottom: $lh/2;
    }

    figcaption {
      font-size: $fs5;
      font-family: $content;
      font-weight: bold;
      text-transform: uppercase;
      color: lighten($black, 50%);
      text-align: center;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: $lh auto;
    @include br(4px);
  }

  ul {
    display: block;
    margin-bottom: $lh;
    list-style: disc;
    list-style-type: disc;

    lh h1, lh h2, lh h3, lh h4, lh h5 {
      @include underline(2px, solid, $grey-light);
    }

    li {
      list-style: disc;
      list-style-type: disc;
      margin-left: $lh*2;
      padding-left: $lh/3;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.post-footer {
  max-width: 37.5em;

  .next-prev {
    border-top: 1px solid $lt-grey;
    display: flex;
    line-height: 1.5;

    li {
      flex: 0 0 50%;

      a {
        text-decoration: none;
        padding: 1em;

        h3 {
          color: $black;
        }

        span {
          border-bottom: 1px solid var(--link);
        }
      }
    }
  }
}

/* Footer Stuff */
.push {
  height: $footerHeight/4 !important;
}

.site-footer {
  font-size: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 7em;

  // Contain that ish
  section {
    @include column(10);
    @include row(10);
    display: block;
    margin: 0 auto;
  }

  small {
    font-size: ($fs6);
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 8px;
    font-family: $content;
    text-transform: uppercase;
    color: transparentize($white, .9);

    a {
      color: transparentize($white, .7);
    }
  }

  .list-title {
    margin-bottom: $lh/2;
    border-bottom: 2px solid $link;
    font-style: italic;
    font-size: $fs4;
  }
}

.site-footer-main {
  padding: 1.5em 2em;

  ul {
    li {
      margin-bottom: $lh/2;
      display: inline;

      &:last-child {
          margin-bottom: 0;

        &:after {
          content: "";
        }
      }
    }

    li:after {
      content: "\2022";
      margin: 0 .25em 0 .275em;
    }
  }
}

@media only screen and (min-width: 50em) {
  .site-footer {
    font-size: 1.125em;

    .site-footer-main {
      padding: 3em 5.33331em;
    }
  }
}

/* Tablet
   ========================================================================== */

@media only screen and (max-width: $breakpoint-2-max-width) {
  // Type Fixes

  h1 {
    font-size: 2.25em;
    line-height: 1.1em;
  }

  blockquote, blockquote p {
    font-size: $fs3;
  }

  footer {
    font-size: $fs5;
  }
}

/* Mobile
   ========================================================================== */

@media only screen and (max-width: 500px) {

  footer {
    line-height: 1.5;

    aside {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width : 680px) {

 /* All Posts */

  section.article img.loading {
    top: 10px !important;
    right: 6%;
    left: inherit;
  }
}

@media only screen and (max-width: $breakpoint-1-max-width) {
  .post {
    width: 100%;
    max-width: 420px;
    display: block;
    margin: 0 auto;
    float: none;
  }

  footer {
    font-size: $fs5;
  }

  small {
    font-size: $fs6;
  }
}
