html {
  // 18px
  font-size: 112.5%;
  @include bp(medium) {
    font-size: 125%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Rubik', sans-serif;
  // line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}
