/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

$black:  #000;
$white: #fff;

/* Gray scale */

$grey-dark:   #222;
$grey-medium: #999;
$grey-light:  #d9d9d9;

/* Hilight */
$hilite: #fffbd7;

/* Accent Colors */
$link: #666;
$accent: #24536B;


/* Typography
   ========================================================================== */

$sans: 'Roboto Mono';
$serif: 'Roboto', sans-serif;



/* Type Scale
   ========================================================================== */

/** * 12 & 16 as roots then powers of two. */

$fs1:4.5em; /* 72px / 16px */ /* need to convert everything away from pixels */
$fs2:24px;
$fs3:18px;
$fs4:24px;

$fsp:18px;

$fs5:16px;
$fs6:12px;

// Line Height

$lh: 33px;
$lhsmall: 24px;

// Sizing
$footerHeight: 320px;

// Griddit



/* Break Points
   ========================================================================== */

/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-max-width:800px;
$breakpoint-3-max-width:1200px;

/* Style Tidbits
   ========================================================================== */

$borderR: 4px;
