.archive-posts {
  margin-bottom: 1.5em;
  list-style: none;
  padding: 0;
  grid-column: full-content;
  @include bp(small) {
    grid-column: full-content / main-content-end;
  }

  li {
    line-height: 1.5em;
    border-top: 1px solid $text-color;
    padding-top: 1em;

    &:last-child {
      border-bottom: none;
    }

    article {
      header {
        margin-bottom: 0;

        a {
          text-decoration-thickness: 2px;
        }
      }
    }

    h2 {
      margin-top: 1em;
      margin-bottom: 0;
      font-size: 1.2em;

      a {
        color: $text-color;
        text-decoration: none;
        &:hover {
          opacity: .6;
        }
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
