.home-intro {
  @include bp(small) {
    grid-template-rows: 1fr 1fr;
  }

  .home-intro-img {
    grid-column: full;
    position: relative;

    &:after {
      background: rgba($purple, 0.5);
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      max-height: 20em;
      @include bp(small) {
        max-height: 32em;
      }
    }

    @include bp(small) {
      grid-column: 6 / span 5;
      grid-row: 1 / -1;
    }

    img {
      width: 100%;
      max-height: 20em;
      object-fit: cover;
      height: 100%;
      @include bp(small) {
        max-height: 32em;
      }
    }
  }

  &-block {
    display: contents;

    &-header {
      grid-column: full-content;
      grid-row: 1;
      @include bp(small) {
        grid-column: full-content-start / span 4;
        align-self: end;
      }

    }

    &-content {
      grid-column: full-content;
      padding: $space-medium;
      margin: calc( #{$space-medium * -1}) 0 0 calc( #{$space-medium * -1});
      @include bp(small) {
        grid-column: 3 / span 4;
        grid-row: 2;
        align-self: start;
        margin: 0 calc( #{$space-medium} * -1);
        padding: 0 $space-medium;
        z-index: 2;
      }
      p {
        @include bp(small) {
          background: linear-gradient(90deg, $purple 79%, $white 0);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.home-intro,
.home-latest,
.home-work {
  padding: $space-medium 0;
  &-block {
    grid-column: full-content;
    @include bp(large) {
      grid-column: main-content;
    }
  }
}

.content-main {
  grid-column: full-content;
  margin-bottom: 2.75rem;
  @include bp(small) {
    grid-column: full-content / main-content-end;
  }

  .button {
    width: 100%;
    @include bp(small) {
      width: 11.111111111em; // 200 / 18
    }
  }
}
