.announcement-bar {
  background: var(--purple);
  color: var(--white);
  font-size: 0.75rem;
  position: relative;
  z-index: 1;

  p {
    grid-column: full-content;
    margin-bottom: 1em;
  }

  a {
    color: var(--white);
  }
}
