.button {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border: 2px solid $text-color;
    width: 100%;
    height: 100%;
    top: 3px;
    left: 3px;
  }
}

button {
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: 0.8em;
  border: 2px solid;
  font-weight: 700;
  width: inherit;
  height: 100%;
  position: relative;

  &:hover {
    transform: translate(3px, 3px);
    color: $text-color--darker;
  }
}
