.note {
  h2 {
    font-size: 1em;
  }

  p {
    a {
      border-bottom: inherit;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: $yellow;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}
