.post-meta {
  font-size: 0.75em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;

  time {
    a {
      border-bottom: inherit;
    }
  }
}

header {
  .post-meta {
    margin-bottom: inherit;
  }
}
