<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
    {%- include header.html -%}

    <div class="page">
      <div class="page-content">
        {{ content }}
      </div>
    </div>

      <!-- <div class="push"></div> -->
      {% include footer.html %}

      <!-- If they're out, get some from the cellar -->
      <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
      <script src="/assets/js/retina.min.js"></script>

      <!-- Custom JS -->
      <script src="/assets/js/scripts.js"></script>

      <!-- PTN253454darylshaw.co.uk75792633 -->

  </body>
</html>
