<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include meta-mobile.html %}
  {% include meta-siteleaf.html %}
  {% include meta-open-graph.html %}

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <!-- Type -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>

  <!-- For all browsers -->
  <link rel="stylesheet" href="/assets/css/i.css">

  <!-- Fresh Squeezed jQuery -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <meta http-equiv="cleartype" content="on">

  <!-- Load Modernizr -->
  <script src="/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

  <!-- Icons -->
  <!-- 16x16 -->
  <link rel='icon' type='image/png' href='/assets/favicon.png'>
  <link rel='shortcut icon' type='image/png' href='/assets/favicon.png'>
  {% include js-google-analytics.html %}
</head>
  <body>
    {% include header.html %}

    <div class="page">
      <div class="page-content">

        <h1 class="hed-title">Blog</h1>

        {{ content }}

        <ul>
          <li class="archive-year">
            <h2 class="hed-archive-year"><span class="bb">2016</span></h2>
          </li>
          {% for post in site.posts %}
          <ol>
            <li class="archive-month">
              <h3 class="hed-archive-month"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B" }}</time></h3>
              <ul class="archive-posts">
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              </ul>
            </li>
          </ol>
          {% endfor %}
        </ul>





      </div>
    </div>

      <!-- <div class="push"></div> -->
      {% include footer.html %}


      <!-- If they're out, get some from the cellar -->
      <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
      <script src="/assets/js/retina.min.js"></script>

      <!-- symbolset icons -->
      <script src="//cdn.symbolset.com/{{ site.symbolset }}/symbolset.js"></script>

      <!-- Custom JS -->
      <script src="/assets/js/scripts.js"></script>

      <!-- PTN253454darylshaw.co.uk75792633 -->

  </body>
</html>
