.mast {
  padding: 1rem 0;
  background: var(--bg-color);
  position: relative;
  z-index: 1;

  h1 {
    grid-column: full-content;
    font-size: 1rem;
    // margin-right: 1rem;
    margin-bottom: 0;

    @include bp(large) {
      grid-column: full-content-start / main-content-start;
    }
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: inherit;

    &:hover {
      color: var(--text-color--darker);
      transition: 100ms ease-in;
    }
  }

  nav {
    grid-column: full-content;

    @include bp(large) {
      grid-column: main-content / 10;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 0.5rem;
        a {
          &:hover {
            color: var(--text-color--darker);
            border-bottom: solid 2px var(--text-color--darker);
          }
        }
      }
    }
  }
}
