.mast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-top: 4.2em; // 75.6 / 18
  @include bp(medium) {
    flex-direction: column;
    position: fixed;
    justify-content: inherit;
    padding-top: 2em;
    margin-top: 2.85em; // 57 / 20
  }
  @include bp(large) {
    margin-top: inherit;
  }

  h1 {
    font-size: 1rem;
    margin-bottom: 0;
    padding-left: 1rem;
    @include bp(medium) {
      padding-left: 2rem;
    }
  }

  a {
    text-decoration: none;
    color: $text-color;
    border-bottom: inherit;

    &:hover {
      color: $text-color--darker;
      transition: 100ms ease-in;
    }
  }

  nav {
    margin-top: 1rem;
    padding-right: 1rem;
    @include bp(small) {
      padding: 0 2rem;
    }

    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;

      li {
        a {
          &:hover {
            color: $text-color--darker;
            border-bottom: solid 2px $text-color--darker;
          }
        }
      }
    }
  }
}
